.row.dashboard-header
  .col-md-12
    %h3
      = fa_icon 'desktop'
      = title 'Dashboard'
.row
  .col-md-9
    - if @dashboard.current_counters.any?
      .row
        - @dashboard.current_counters.each do |title, counter|
          .col-md-3
            .panel.status.panel-primary.counters
              .panel-heading
                .panel-title.text-center= counter.count

              .panel-body.text-center
                %strong= title
                - if counter.details.present?
                  = link_to fa_icon('info'), '#', class: 'icon-info', data: { toggle: 'popover', content: simple_format(counter.details), container: 'body', placement: 'top' }
    - else
      .panel.panel-default.counters
        .panel-heading
          Today orders
        .panel-body
          There is no orders for today yet

  .col-md-3
    .panel.panel-default
      .panel-heading
        = fa_icon 'rocket'
        Additional actions
      .panel-body
        = link_to ready_lunch_path, class: 'btn btn-default btn-block', method: :post do
          %i.glyphicon.glyphicon-envelope
          Send notification
        - if Freeze.frozen?
          = link_to 'Unfreeze Orders', freeze_path, method: :delete, class: 'btn btn-danger btn-block', data: { confirm: t(:are_you_sure) }
        - else
          = link_to 'Freeze Orders', freeze_path, method: :post, class: 'btn btn-primary btn-block'

.panel.panel-default
  .panel-heading
    = fa_icon 'shopping-cart'
    Orders
  .panel-body
    - DictionaryPresenter.new(OrderPolicy.new, @dashboard.orders).as_dictionary.each do |date, orders|
      %section.orders
        %header.orders-header
          %h3= formatted_date date
        %ul
          - orders.each do |order|
            %li{id: dom_id(order)}
              .row
                .col-md-5
                  = order.user_email
                .col-md-3
                  = order.menu_set_name
                .col-md-1
                  = order.decorate.state
                .col-md-3
                  .pull-right
                    = link_to_payment order
                    = link_to_delete order
