.row
  .col-md-12
    %h3
      %i.glyphicon.glyphicon-dashboard
      = title 'Dashboard'

.row
  .col-md-6
    .panel.panel-default.counters
      .panel-heading Orders today by count
      .panel-body
        - if @dashboard.current_counters.any?
          - @dashboard.current_counters.each do |title, orders_count|
            .row
              .col-md-4= title
              .col-md-8= orders_count
        - else
          There is no orders for today yet
  .col-md-6
    .panel.panel-default
      .panel-heading Additional actions
      .panel-body
        = link_to 'New Menu', new_menu_path, class: 'btn btn-success'
        = link_to 'Send notification', ready_lunch_path, class: 'btn btn-default', method: :post
        - if Freeze.frozen?
          = link_to 'Unfreeze Orders', freeze_path, method: :delete, class: 'btn btn-danger', data: { confirm: t(:are_you_sure) }
        - else
          = link_to 'Freeze Orders', freeze_path, method: :post, class: 'btn btn-primary'

.panel.panel-default
  .panel-heading Orders
  .panel-body
    - DictionaryPresenter.new(OrderPolicy.new, @dashboard.orders).as_dictionary.each do |date, orders|
      %section.orders
        %header.orders-header
          %h3= date
        %ul
          - orders.each do |order|
            %li{id: dom_id(order)}
              .row
                .col-md-4
                  = order.user_email
                .col-md-3
                  = order.menu_set_name
                .col-md-2
                  = order.decorate.state
                .col-md-3
                  .pull-right
                    - if order.pending?
                      = link_to 'Pay', pay_order_path(order), class: 'btn btn-success btn-sm', method: :patch
                    - elsif order.paid?
                      = link_to 'Cancel Payment', cancel_payment_order_path(order), class: 'btn btn-danger btn-sm', method: :patch
                    = link_to 'Delete', order, method: :delete, data: { confirm: t(:are_you_sure) }, class: 'btn btn-danger btn-sm'
