%h1= title 'Dashboard'

.row.actions
  = link_to 'New Menu', new_menu_path, class: 'btn btn-success'

.counters
  - @dashboard.current_counters.each do |title, orders_count|
    .row
      .col-md-2= title
      .col-md-1= orders_count

- DictionaryPresenter.new(@dashboard.orders).as_dictionary.each do |date, orders|
  %section.orders
    %header.orders-header
      %h3= date
    %ul
      - orders.each do |order|
        %li{id: dom_id(order)}
          .row
            .col-md-5
              = order.user_email
            .col-md-4
              = order.menu_set_name
            .col-md-3
