.row.margin-bottom
  .col-md-12
    %h1 Groups

.row.subnav
  - @groups.each do |group|
    .col-xs-12.col-sm-6.col-md-6.col-lg-6
      .box{id: dom_id(group)}
        - if current_user.current_group == group
          .box-icon
            %span= t('groups.current')
        .info
          %h4.text-center= group.name
          %p
          - if can?(:join, group) && JoinGroupPolicy.new(group, current_user).valid?
            = link_to t('groups.helpers.join'),
              join_group_path(group),
              method: :post,
              class: 'btn btn-success'
          - if can? :leave, group
            = link_to t('groups.helpers.leave'),
              leave_group_path(group),
              method: :delete,
              data: { confirm: t(:are_you_sure) },
              class: 'btn btn-danger'
          - if can? :make_current, group
            = link_to t('groups.helpers.make_current'),
              make_current_group_path(group),
              method: :patch,
              class: 'btn btn-info'
