.row.margin-bottom
  .col-md-12
    %h1 Users

.row.margin-bottom
  .col-md-12
    = form_tag url_for, method: :get do
      .input-group
        = text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search users by email'
        %span.input-group-btn
          %button.btn.btn-default{type: 'submit'} Search!

.row.margin-bottom
  .col-md-12
    %table.table.table-responsive.table-hover
      %thead
        %tr
          %th= User.human_attribute_name :email
          %th= User.human_attribute_name :balance
          %th
            .pull-right
              .text.text-info
                = t('balance.summary', balance: User.sum(:balance))

      %tbody
        - @users.each do |user|
          %tr
            %td= user.email
            %td= user.decorate.balance
            %td
              .pull-right
                = link_to t('balance.helpers.edit'), edit_user_balance_path(user), class: 'btn btn-default'
                - if can?(:destroy, user) && user.balance.zero?
                  = link_to_delete user


.row
  .col-md-12
    = paginate @users

