.row
  .col-md-12
    %h1 Users
.row
  .col-md-12
    %table.table.table-responsive.table-hover
      %thead
        %tr
          %th= User.human_attribute_name :email
          %th= User.human_attribute_name :amount
          %th
            .pull-right

      %tbody
        - @users.each do |user|
          %tr
            %td= user.email
            %td= user.amount
            %td
              .pull-right
                = link_to t('balance.helpers.edit'), edit_user_balance_path(user), class: 'btn btn-default'

.row
  .col-md-12
    = paginate @users

