.row.devise
  .main
    %h3 Forgot your password?
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      .pull-right
        = link_to 'Sign In', new_user_session_path
        or
        = link_to 'Sign Up', new_user_registration_path
      = f.input :email, required: true, autofocus: true
      = f.button :submit, "Send me reset password instructions", class: 'btn btn-primary btn-block'



