
.welcome
  - unless cookies[:pay_from_balance_announcement_disabled]
    .row#pay_from_balance_announcement
      .col-md-12
        .jumbotron
          %h2 New Feature: Pay from your Balance
          %p Today we glad to announce brand new feature. Now you can pay for lunch from your balance.
          %p
            %strong What does it mean?
          %p
            Now you have possilibity to add funds to your balance and pay for lunch every day.
          %p
            = link_to 'Pay from Balance', '#', class: 'btn btn-success disabled'
            button will be available in your list of orders when you have enough funds.
          %p All you need to do to start using that feature is to contact current lunch representative to add funds to your account.
          %p
            = link_to 'Got it! Hide it from me',
              disable_announcement_path(announcement: 'pay_from_balance'),
              class: 'btn btn-success',
              remote: true,
              method: :patch

  .row
    .col-md-6.col-md-offset-3
      %p.lead
        - if order = current_user.today_order
          - button_text = 'Make another order'
          %h2 Your today's order
          %h3= order.menu_set_name
          %p.menu-set-details
            %i= simple_format order.menu_set_details

        - else
          - button_text = 'Order now!'
          Got hungry?

      %p.lead
        = link_to button_text, new_order_path, class: 'btn btn-default btn-lg'
