%li{id: dom_id(order)}
  .row
    .col-md-5
      = order.user_email
    .col-md-3
      = order.menu_set_name
    .col-md-1
      = order.decorate.state
    .col-md-3
      .pull-right
        = link_to_payment order, remote: true
        = link_to_delete order
