.row
  .col-md-12
    = render 'orders/hints'
.row
  .col-md-12
    %h2.subnav= title 'Orders'
    .btn-toolbar.subnav{role: 'toolbar'}
      .btn-group
        - unless Freeze.frozen?
          %div{class: ('border-right' if current_user.super_user?)}
            - button_text = current_user.today_order ? 'Make another order' : 'Order Now!'
            = link_to button_text, new_order_path, class: 'btn btn-success'

      - if current_user.super_user?
        .btn-group.margin-left-10
          = link_to 'Mine', url_for(view: nil), class: "btn btn-default #{"active" unless params[:view]}"
          = link_to 'All', url_for(view: 'all'), class: "btn btn-default #{"active" if params[:view] == 'all'}"
          = link_to 'Pending', url_for(view: 'pending'), class: "btn btn-default #{"active" if params[:view] == 'pending'}"
          = link_to 'Paid', url_for(view: 'paid'), class: "btn btn-default #{"active" if params[:view] == 'paid'}"

    - if Freeze.frozen?
      .alert.alert-warning= t('orders.frozen')

- if @orders.any?
  .panel.panel-default
    .panel-body
      %section.orders
        %ul
          - @orders.each do |order|
            %li{id: dom_id(order)}
              .row
                - if params[:view].blank?
                  .col-lg-6.col-md-12.col-sm-12.col-xs-12
                    = order.menu_set_name
                    = order.decorate.today
                    = order.decorate.state
                - else
                  .col-lg-3.col-md-12.col-sm-12.col-xs-12
                    = order.menu_set_name
                    = order.decorate.today
                    = order.decorate.state
                  .col-lg-3.col-md-6.col-sm-12.col-xs-12
                    = order.user_email
                .date-container.col-lg-3.col-md-3.col-sm-12.col-xs-12
                  = order.decorate.created_on
                .col-lg-3.col-md-3.col-sm-12.col-xs-12
                  .pull-right.text-nowrap
                    - if current_user.can_pay_for? order
                      = link_to_pay_from_balance t('balance.helpers.pay'), order, 'btn-sm'
                    - if can?(:pay, order) && params[:view]
                      = link_to_payment order
                    - if can_remove_order?(order)
                      = link_to_delete order

  = paginate @orders
