.row
  .col-md-12
    %h2
      = title 'Orders'
      - unless Freeze.frozen?
        = link_to 'Order Now!', new_order_path, class: 'btn btn-success'

    - if Freeze.frozen?
      .alert.alert-warning= t('orders.frozen')

.panel.panel-default
  .panel-body
    %section.orders
      %ul
        - @orders.each do |order|
          %li{id: dom_id(order)}
            .row
              .description-container.col-md-6
                = order.menu_set_name
              .status-container.col-md-2
                = order.decorate.state
              .date-container.col-md-2
                = order.created_at.to_date
              .col-md-2
                - if can_remove_order?(order)
                  = link_to 'Delete', order, method: :delete, data: { confirm: t(:are_you_sure) }, class: 'btn btn-danger btn-sm'
