= simple_form_for @order, html: { class: 'form-horizontal' } do |f|
  .form-controls
    %h3
      Order for
      = Date.current
  .menu-sets
    - ListPresenter.new(MenuSet.available).as_collection.each do |list|
      %label.menu-set
        %span.item-wrapper
          = radio_button_tag "order[menu_set_id]", list.last, id: "order_menu_set_#{list.last}"
        %span.title-wrapper
          = list.first
        .description-wrapper
          = list[1]
    - unless MenuSet.available.exists?
      %p There is no menu sets for today
  .has-error
    = f.error :menu_set

  - if MenuSet.available.exists?
    = f.button :submit, class: 'btn btn-primary'
  - else
    = f.button :submit, class: 'btn btn-primary disabled', disable: true

