- color_class = activity.data.to_i >= 0 ? 'success' : 'danger'
.timeline-badge{class: color_class}= fa_icon 'money'
.timeline-panel
  .timeline-heading
    %p
      %small.text-muted
        %i.glyphicon.glyphicon-time
          = l(activity.created_at, format: :long)
  .timeline-body
    %strong= activity.user.decorate.full_name
    has updated balance of
    %strong= activity.subject.decorate.full_name
    for
    %strong{class: "text-#{color_class}"}
      = activity.data
      Lei
