- bg_class, color_class = activity.data.to_i >= 0 ? ['bg-green', 'success'] : ['bg-red', 'danger']
%i.fa.fa-money{class: bg_class}
.timeline-item
  %span.time
    = fa_icon 'clock-o'
    = l activity.created_at, format: :short

  %h3.timeline-header.no-border
    %strong= activity.user.decorate.full_name
    has updated balance of
    %strong= activity.subject.decorate.full_name
    for
    %strong{class: "text-#{color_class}"}
      = activity.data
      = activity.subject.current_group.currency_unit

