%h3
  = formatted_date @report.from.to_s
  = "-"
  = formatted_date @report.to.to_s
%p
  %section.orders
    %ul
      %li.header
        .col-md-4 Date
        .col-md-4 Count
      - if @report.orders.any?
        - DictionaryPresenter.new(OrderPolicy.new, @report.orders).as_dictionary.each do |date, orders|
          %li
            .col-md-4= formatted_date date
            .col-md-4= orders.count
      - else
        %li
          .col-md-12 There is no orders for selected period
      %li.total
        .col-md-4 Total
        .col-md-4= @report.total
