!!!
%html
  %head
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    = display_meta_tags site: 'Business Lunch', reverse: true
  %body
    = yield
    = javascript_include_tag 'application'
