!!!
%html{lang: 'en'}
  %head
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    = display_meta_tags site: 'Business Lunch', reverse: true
    %meta{charset: 'utf-8'}
    %meta{:'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=devise-width, initial-scale=1'}
  %body
    .navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-collapse'}}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Business Lunch', root_path, class: 'navbar-brand'

        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            - if can? :index, :dashboard
              = navbar_link_to 'Dashboard', dashboard_path, 'dashboard'
            - if can? :index, Order
              = navbar_link_to 'Orders', orders_path
            - if can? :index, MenuSet
              = navbar_link_to 'Menu Sets', menu_sets_path, 'cutlery'
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              = navbar_link_to 'Edit profile', edit_user_registration_path, 'user'
              = navbar_link_to 'Sign Out', destroy_user_session_path, 'log-out', false
            - else
              = navbar_link_to 'Sign In', new_user_session_path, 'log-in', false
              = navbar_link_to 'Sign Up', new_user_registration_path

    .container
      = render 'shared/flashes'

      = yield

    #footer
      .container
        %p.text-muted
          &copy; YOPESO hungry workers

    = javascript_include_tag 'application'
